body {
    text-align: center;
}

h1 {
    color: white;
    background-color: red;
    text-align: center;
}
p {
    color: white;
    background-color: green;
    text-align: center;
}

button {
    color: black;
    background-color: orange;
}

.link-list {
    text-align: left                                       ;
}